h2{
    text-align: center;
}
div{
    background-color: azure;
    border: 2px solid rgb(56, 124, 126);;
    width: 30%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content:center ;
    justify-content: center;
    height:32vh;
}


